$main-light: #eef6f0;
$text-light: #2b2839;
$main-dark: #232529;
$secondary-dark: #292c31;
$text-dark: #e2e3e7;
$text-dark-second: #d1d5db;
$yellow: #fffad1;
$blue: #ddebf8;
$pink: #f5e6db;
$white: #fff;
$education-blue: #5553ff;
$happy-green: #4ade80;
$light-gray: #bec5c0;
$gray: #35383f;
$xazy-red: #ff2768;
$code-bg: #282a36;
$link: #93c5fd;
$link-visited: #d8b4fe;
