@import './colors';

.lesson-layout {
  display: flex;

  .navigation {
    min-width: 300px;
    background: $secondary-dark;

    ul {
      position: sticky;
      height: 75vh;
      color: #ababab;
      top: 10px;
      overflow-y: scroll;
      width: 90%;
      margin: 20px auto 0 auto;
      z-index: 5;
      overflow: auto;
      background: linear-gradient(#292c31 40%, rgba(41, 44, 49, 0)),
        linear-gradient(rgba(41, 44, 49, 0), #292c31 70%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
      /* Opera doesn't support this in the shorthand */
      background-attachment: local, local, scroll, scroll;
      /* width */
      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey;
        border-radius: 6px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $gray;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $xazy-red;
      }

      h4 {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 600;
        color: $light-gray;
        padding-bottom: 10px;
        border-bottom: 1px solid $xazy-red;
        text-align: center;
      }

      li {
        cursor: pointer;
        padding: 5px 4px 5px 0;
        width: 240px;
        line-height: 1.7;

        &:hover {
          color: $xazy-red;
        }
      }

      a {
        color: $text-dark;
        text-decoration: none;
        padding: 5px 0;
        line-height: 1.7;

        &:hover {
          color: $xazy-red;
          border-bottom: 1px solid $xazy-red;
        }
      }
    }

    @media print {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .navigation {
      display: none;
    }
  }
}

.socials {
  position: fixed;
  bottom: 80px;
  left: -10px;

  .follow {
    font-size: 20px;
    position: absolute;
    left: 83px;
    top: -40px;
  }

  a {
    color: $text-dark;
  }

  img {
    position: absolute;
    width: 40px;
  }

  span {
    position: absolute;
    line-height: 1.3;
    font-size: 15px;

    &:hover {
      color: $white;
    }
  }

  .github {
    left: 26px;
  }

  .github-text {
    left: 70px;
  }

  .instagram {
    left: 152px;
  }

  .instagram-text {
    left: 195px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media print {
    display: none;
  }
}

.lesson-div {
  color: $text-dark-second;
  max-width: 750px;
  min-width: 100px;
  margin: 0 auto 100px auto;
  padding: 0 20px;

  a {
    text-decoration: none;

    &:link {
      color: $link;
    }

    &:active,
    &:visited {
      color: $link-visited;
    }
  }

  li {
    line-height: 1.5;
  }

  ol {
    list-style: decimal;
    margin: 20px 0;
    padding: 0 0 0 26px;

    li {
      margin: 8px 0;
      padding: 0 0 0 6px;
      font-size: 16px;
    }
  }

  h3 {
    color: $white;
    font-weight: 500;
    margin: 25px 0;
  }

  img {
    max-width: 750px;
  }

  .navigation {
    width: 300px;
    background: $secondary-dark;

    ul {
      list-style: none;
      position: fixed;
      height: 50vh;
      top: 72px;
      overflow-y: scroll;
      width: 260px;
      z-index: 5;
      overflow: auto;
      background: linear-gradient(#292c31 40%, rgba(41, 44, 49, 0)),
        linear-gradient(rgba(41, 44, 49, 0), #292c31 70%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
      /* Opera doesn't support this in the shorthand */
      background-attachment: local, local, scroll, scroll;
      /* width */
      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey;
        border-radius: 6px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $gray;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $xazy-red;
      }

      li {
        padding: 5px 4px 5px 0;
        width: 240px;
      }

      a {
        color: $text-dark;
        text-decoration: none;
        padding: 5px 0;
        line-height: 1.7;

        &:hover {
          color: $xazy-red;
          border-bottom: 1px solid $xazy-red;
        }
      }
    }
  }

  h1 {
    font-size: 24px;
    color: $white;
    margin-top: 40px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    padding-bottom: 5px;
    font-weight: 700;
    text-shadow: 3px 5px 2px $xazy-red;

    &::after {
      width: 100px;
      height: 1px;
      display: block;
      content: "";
      position: relative;
      margin-top: 25px;
      left: 50%;
      margin-left: -50px;
      background-color: $xazy-red;
    }

    @media print {
      color: #000;
      text-shadow: none;
    }
  }

  h2 {
    font-size: 20px;
    margin: 30px 0;
    padding: 5px 0;
    color: $white;
    line-height: 1.5;

    @media print {
      color: #000;
    }

    &:hover {
      cursor: pointer;
      color: $xazy-red;
    }
  }

  p {
    font-size: 16px;
    margin: 20px 0;
    line-height: 2;
  }

  ul {
    list-style-type: disc;
    margin: 20px 0;
    padding: 0 0 0 26px;

    li {
      margin: 8px 0;
      padding: 0 0 0 6px;
      font-size: 16px;
    }
  }

  p code {
    font-size: 14px;
    padding: 4px;
    color: $xazy-red;
    background: $secondary-dark;
    border-radius: 6px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  pre {
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1rem;
    padding: 25px;
    line-height: 1.7;
    margin: 27px 0;
    background-color: $code-bg;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 14px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border: 2px solid $gray;
      border-radius: 6px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $gray;
      border-radius: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $xazy-red;
    }

    code {
      line-height: 1.7;
      color: #ccc;
      background-color: $code-bg;
      padding: 0;
    }
  }

  .homework {
    background-color: $secondary-dark;
    padding: 24px 44px;
    line-height: 1.7;
    border-radius: 8px;
    color: $white;
    margin-bottom: 60px;

    ul li {
      list-style: disc;
      padding: 5px;
    }

    ol li {
      list-style: decimal;
      padding: 5px;
    }

    @media print {
      color: #000;
    }
  }

  a {
    color: $link;

    &:visited {
      color: $link-visited;
    }

    &:hover {
      text-decoration: none;
    }
  }

  kbd {
    background-color: #4b5563;
    border-color: #6b7280;
    color: #f3f4f6;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 6px;
  }

  @media print {
    color: #000;
  }
}

.lesson-save-div {
  border-radius: 20px;
  margin: 50px 0 0 0;
  width: 100%;
  background-color: $code-bg;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0;

  button {
    font-family: "Noto Sans Georgian";
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    min-width: 225px;
  }

  a {
    background-color: $main-dark;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 2px solid rgb(117, 117, 117);
    height: 75px;
    line-height: 75px;
    border-radius: 10px;
    background-color: transparent;
    color: $main-light;
    width: 40%;
    font-size: 20px;
    min-width: 255px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:visited {
      text-decoration: none;
      color: $main-light;
    }
  }
  @media print {
    display: none;
  }
}
