.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.wrapper .loader {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.loader .loading {
  background: $xazy-red;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 0 10px;
  animation: load 1s ease infinite;
}
.loader .loading.one {
  animation-delay: 0.3s;
}
.loader .loading.two {
  animation-delay: 0.4s;
}
.loader .loading.three {
  animation-delay: 0.5s;
}
@keyframes load {
  0% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 10px;
    height: 10px;
  }
}
